* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 2rem;
}

.navBar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
  padding-top: 1rem;
}

#navbutton {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: whitesmoke;
  opacity: 0.8;
  height: 50px;
  font-size: 1.2rem;
  font-weight: 500;
  font-style: oblique;
  border-radius: 20px;
  text-decoration: none;
}

#navbutton:hover {
  color: black;
  background-color: whitesmoke;
  border: 3px solid black;
}
#navbutton:active {
  background-color: brown;
}

@media only screen and (max-width: 700px) {
  .navBar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .logo {
    max-width: 300px;
  }

  .contactus-container {
    text-align: center;
  }

  .header-container {
    display: flex;
    flex-direction: column;
  }
  .logo-container {
    display: flex;
    flex-direction: column;
  }

  #modal-img {
    width: 375px;
    min-width: 300px;
    height: auto;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 601px) {
  .logo-container {
    display: flex;
    flex-direction: column;
  }
}
