* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 2rem;
  background-image: url("./Hippopx.jpg");
}

.navBar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
  padding-top: 1rem;
}

#navbutton {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: whitesmoke;
  opacity: 0.8;
  height: 50px;
  font-size: 1.2rem;
  font-weight: 500;
  font-style: oblique;
  border-radius: 20px;
  text-decoration: none;
}

#navbutton:hover {
  color: black;
  background-color: whitesmoke;
  border: 3px solid black;
}
#navbutton:active {
  background-color: brown;
}

@media only screen and (max-width: 600px) {
  .navBar {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .logo {
    max-width: 260px;
  }

  .contactus-container {
    text-align: center;
  }

  .header-container {
    display: flex;
    flex-direction: column;
  }
  .logo-container {
    display: flex;
    flex-direction: column;
  }

  #modal-img {
    max-width: 320px;
    max-height: 240px;
  }

  .modalCloseBtn {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 718%);
  }

  #btnCloseX {
    max-width: 30px;
  }

  .nextPrevBtn {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 330%);
  }

  #previousbtn,
  #nextbtn {
    max-height: 50px;
    max-width: 30px;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 601px) {
  .logo-container {
    display: flex;
    flex-direction: column;
  }
  .logo {
    max-width: 550px;
  }

  #modal-img {
    max-width: 600px;
    max-height: 480px;
  }
  .modalCloseBtn {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 245%);
  }

  #btnCloseX {
    max-width: 50px;
  }

  .nextPrevBtn {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 60%);
  }

  #previousbtn,
  #nextbtn {
    max-height: 80px;
    max-width: 50px;
  }

  .navBar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}
