* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 2rem;
  /* background-image: url("./Hippopx.jpg"); */
  background-image: linear-gradient(90deg, #d0e1e7, #d6b37bf1);
}

.navBar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
  padding-top: 1rem;
}

#navbutton {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: whitesmoke;
  opacity: 0.8;
  height: 50px;
  font-size: 1.2rem;
  font-weight: 500;
  font-style: oblique;
  border-radius: 20px;
  text-decoration: none;
}

#navbutton:hover {
  color: black;
  background-color: whitesmoke;
  border: 3px solid black;
}
#navbutton:active {
  background-color: brown;
}

@media only screen and (max-width: 600px) {
  .navBar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
  }

  #navbutton {
    height: 30px;
    width: 105px;
  }

  .logo {
    max-width: 260px;
  }

  .contactus-container {
    text-align: center;
  }

  .header-container {
    display: flex;
    flex-direction: column;
  }
  .logo-container {
    display: flex;
    flex-direction: column;
  }

  #modal-img {
    max-width: 320px;
    max-height: 240px;
  }

  .modalCloseBtn {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 718%);
  }

  #btnCloseX {
    max-width: 30px;
  }

  .nextPrevBtn {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 330%);
  }

  #previousbtn,
  #nextbtn {
    max-height: 50px;
    max-width: 30px;
  }

  .city-text {
    visibility: hidden;
  }
}

@media only screen and (max-width: 700px) and (min-width: 601px) {
  .logo-container {
    display: flex;
    flex-direction: column;
  }
  .logo {
    max-width: 550px;
  }

  #modal-img {
    margin-top: 1rem;
    max-width: 630px;
    max-height: 350px;
  }
  .modalCloseBtn {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 530%);
  }

  #btnCloseX {
    max-width: 50px;
  }

  .nextPrevBtn {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 250%);
  }

  #previousbtn,
  #nextbtn {
    max-height: 50px;
    max-width: 30px;
  }

  .navBar {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }

  #navbutton {
    height: 35px;
    width: 110px;
  }

  .city-text {
    position: absolute;
    left: 4%;
    top: 80%;
    text-align: center;
    font-size: small;
    border-radius: 10px;
    max-width: 500px;
  }

  .city-text {
    visibility: hidden;
  }
}

@media only screen and (max-width: 900px) and (min-width: 701px) {
  #modal-img {
    margin-top: 3rem;
    max-width: 630px;
    max-height: 350px;
  }
  .modalCloseBtn {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 440%);
  }

  #btnCloseX {
    max-width: 40px;
  }

  .nextPrevBtn {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 110%);
  }
  #previousbtn,
  #nextbtn {
    max-width: 40px;
  }

  .city-text {
    visibility: hidden;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 901px) {
  #modal-img {
    margin-top: 3rem;
    max-width: 630px;
    max-height: 350px;
  }
  .modalCloseBtn {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 440%);
  }

  #btnCloseX {
    max-width: 40px;
  }

  .nextPrevBtn {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 110%);
  }
  #previousbtn,
  #nextbtn {
    max-width: 40px;
  }
  .city-text {
    visibility: hidden;
  }
}

/*
@media only screen and (max-width: 1100px) and (min-width: 1050px) {
  #modal-img {
    margin-top: 3rem;
    max-width: 630px;
    max-height: 350px;
  }
  .modalCloseBtn {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 440%);
  }

  #btnCloseX {
    max-width: 40px;
  }

  .nextPrevBtn {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 110%);
  }
  #previousbtn,
  #nextbtn {
    max-width: 40px;
  }
}
*/
