.logo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  border: 1px dashed black;
  padding: 10px;
  border-radius: 20px;
  height: 5%;
  margin-right: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 18%;
}
.logo {
  width: 700px;
  height: 200px;
}

.phone-logo {
  display: flex;
  justify-content: center;
}

#call-logo {
  font-size: 25px;
  position: relative;
  top: -5px;
}

#calll {
  position: relative;
  top: -5px;
  margin-right: 10px;
}
