.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed rgb(27, 26, 26);
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-style: oblique;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 700px;
  height: 200px;
  border-radius: 30px;
  margin-bottom: 3rem;
}

.phone-logo {
  display: flex;
  justify-content: center;
}

#call-logo {
  font-size: 25px;
  position: relative;
  top: -5px;
}

#calll {
  position: relative;
  top: -5px;
  margin-right: 10px;
}

.city-text {
  margin-top: 5%;
  text-align: center;
  padding: 15px;
  border: 1px ridge whitesmoke;
  border-radius: 10px;
}

.weather-container {
  display: flex;
  flex-direction: row;
}

.weather-text-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.weather-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.footer-container {
  display: flex;
  flex-direction: row;
}
