.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
/*
html {
  background-image: url("./images/pexels-photo-696644.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
*/
