.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed black;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 700px;
  height: 200px;
  border-radius: 30px;
  margin-bottom: 3rem;
}

.phone-logo {
  display: flex;
  justify-content: center;
}

#call-logo {
  font-size: 25px;
  position: relative;
  top: -5px;
}

#calll {
  position: relative;
  top: -5px;
  margin-right: 10px;
}
