.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  display: flex;
  text-align: center;
  font-size: 24px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.footer {
  font-size: 20px;
}

.city-text {
  margin-top: 5%;
  text-align: center;
  padding: 15px;
  border: 1px ridge whitesmoke;
  border-radius: 10px;
}

.weather-container {
  display: flex;
  flex-direction: row;
}

.weather-text-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.weather-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.footer-container {
  display: flex;
  flex-direction: row;
}
