.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  display: flex;
  text-align: center;
  font-size: 24px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.footer {
  font-size: 20px;
  position: relative;
  right: -10%;
}
